

#pageBanner {
    background-image: url('https://static.ivanti.com/sites/marketing/media/images/company/contact/contact_header-bground.jpg?ext=.jpg'); 
    background-size: cover;
    text-align: center;
    padding: 150px 0;
    color: white;
}

.regionSelector {
    a {
        background-color: #da291c;
        color: white;
        padding: .5em .25em;
        border: 1px solid #da291c;
        text-decoration: none;
        transition: 0.3s;

        &:hover{
            background-color: white;
            color: #da291c;
        }
    }
}

.CTA{
    padding: 2em 0;
    .ctaLink{
        background-color: #da291c;
        color: white;
        padding: .5em .25em;
        border: 1px solid #da291c;
        text-decoration: none;
        transition: 0.3s;

        &:hover{
            background-color: white;
            color: #da291c;
        }
    }
}

.flex-row{
    display: flex;
    flex-wrap: wrap;

    &::before {
        display: block;
    }
}

.quickContact{
    a {
        padding: .5em .25em;
        background-color: #da291c;
        color: white;
        margin: 1em 0; 
        text-decoration: none;
    }
}

[class*="col-"] {
    margin-bottom: 30px;
}

#Global {
    .office {
        font-size: 125%;
    }
}